page-login {
    .event-item {
        margin: 25px 10px;
      }
      
      .card-thumbnail {
        border-radius: 50%;
        height: 18rem;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
      }
}
