<ion-header>
    <ion-navbar>
      <ion-title>Pending New Business</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card class="event-item" *ngFor="let item of items">
          <ion-card-content>
          <button ion-item  (click)="itemClicked(item);" text-wrap>
            <b>{{ item.policy_no }}</b> <br> {{ item.financial_planner_name }}
          </button>  
          </ion-card-content>
      </ion-card>
    <!--<ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemClicked(item);" text-wrap>
        <b>{{ item.policy_no }}</b> <br> {{ item.financial_planner_name }}
      </button>  
    </ion-list>-->
  </ion-content>
  